body{
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}

#commentbox{
    height: 300px;
    overflow-y:  scroll;
    overflow-wrap: break-word;
    line-height: 200%;
}